student{
    background-color: #121212;
    margin: 20%;
}
TYA{
    color: white;
    font-family: monospace;
    font-size: 40px;
    display: flex;
    border: 3px solid rgb(255, 0, 0);
    gap: 10%;
}
rollno{
    color:gray;
    margin-left: 5%;   
}
